.img-thumbnail {
    height:150px; 
    width:150px;
    border:2px solid black; 
    border-radius:4px; 
    
  
}
/* div:last-child {
    margin-right:0; 
} */
.one {
    margin-left: 20px; 
    margin-right:90px; 
    
 
}

.two {
    margin-right:90px; 
}

.three {
    margin-right:90px; 
}

.four {
    margin-right:20px; 
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(58, 223, 86, 0.5);
}

.jumbotron {
    background-image: url("../images/curtain-269920_1280.jpg");
    background-size: cover;
    color: white;
    position:relative; 
    height:100px;

}

.curtain {
    width:100%; 
    height: 100vh; 
    overflow:hidden; 
}

.curtain__wrapper {
    width:100%; 
    height:100%; 
}

.curtain-panel {
    background-image: url("../images/moviecurtain.jpg");
    background-size:cover; 
    width:50%; /*each panel should take up 1/2 of container*/
    height: 100vh;
    float:left; 
    position:relative; 
    z-index:2; /*places panel in front of icons*/
    transition: all 2s ease-out; 
}


.curtain-feature{
    background: #444; 
    position:absolute; 
    z-index:1; /* places feature behind curtain panels*/
    width:100%;
    height:100%; 
}

input[type=checkbox] {
    position:absolute;
    cursor: pointer;
    width:100%; 
    height:100%;
    z-index:100;
    opacity:0; /*hides element*/
}

/* slide LT panel in*/
input[type=checkbox]:checked ~ div.curtain-lt {
    transform:translateX(0);
}

/*slide RT panel in*/
input[type=checkbox]:checked ~ div.curtain-rt {
    transform:translateX(0); 
}

.curtain-lt {
    transform:translateX(-100%);
    color:white; 
    text-align: center;
    align-items: center; 
}

.curtain-rt {
    transform:translateX(100%);
    color:white; 
    text-align:center; 
}
/* enables user to click icons*/
input[type=checkbox]:not(:checked){
    pointer-events: none;
} 
.txt-lt{
    text-align: right;
    margin-top:200px;
}
.txt-rt {
    text-align: left; 
    margin-top:200px; 
}
h1 {
    font-size:4em; 
}
.subtext {
    font-size: 2em;
}