.img-thumbnail {
    height:150px; 
    width:150px;
    border:2px solid black; 
    border-radius:4px; 
    
  
}
/* div:last-child {
    margin-right:0; 
} */
.one {
    margin-left: 20px; 
    margin-right:90px; 
    
 
}

.two {
    margin-right:90px; 
}

.three {
    margin-right:90px; 
}

.four {
    margin-right:20px; 
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(58, 223, 86, 0.5);
}

.jumbotron {
    background-image: url("../images/curtain-269920_1280.jpg");
    background-size: cover;
    color: white;
}